@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --dard-bg: #161622;
    --purple: #2b2945c2;
    --ligth-purple: #8f72ff;
    --gray-purple: #e6e2fd;
    --gray: #dddddd;
    --shadow: 3px 4px 15px 1px #11111b;

    /*------------------ light mode colors -------------------------------*/
    --sun-purple-gray: #edeaff;

}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    appearance: 0;
    font-family:"Poppins", sans-serif;
}

body {
    background-color: var(--dard-bg);
    font-family: sans-serif;
    overflow-x: hidden;
    line-height: 1.5rem;
}

.light-body {
    background-color: var(--sun-purple-gray);
}

.block {
    margin: 0 auto;
    width: auto;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1, h2, h3 {
    margin-bottom: 2.5rem;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: var(--shadow); 
  }
   
  ::-webkit-scrollbar-thumb {
    background: var(--ligth-purple); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(238, 238, 238); 
  }

/* ----------------------- NAV -------------------------------*/


nav {
    background-color: var(--purple);
    width: 100%;
    height: 5.5rem;
    position: relative;
    top: 0;
    z-index: 10;
    box-shadow: var(--shadow);
}


nav ul {
    position: absolute;
    top: 2.25rem;
    right: 6rem;
    display: flex;
    align-items: center;
}

nav ul li a {
    padding: 3rem;
    color: var(--gray);
}

nav ul li a:hover {
    color: var(--ligth-purple);
}

.nav-logo {
    position: absolute;
    top: 2.25rem;
    left: 6.5rem;
}

#sub-ul {
    top: 3.25rem;
    right: auto;
    flex-direction: column;
    background-color: #26243C;
    visibility: hidden;
    transition: all 250ms ease;
    opacity: 0;
}

.sub-ul-sun {
    background-color: #5A5771;
}

#sub-ul li a {
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

nav ul li:hover a + #sub-ul {
    visibility: visible;
    opacity: 1;
}

.theme-btn {
    display: block;
    position: relative;
    top: 1.2rem;
    right: 2.55rem;
    float: right;
}

.theme-btn button {
    background-color: transparent;
    padding-inline: 10px;
}

.fa-moon {
    font-size: 24px;
    color: white;;
    padding: 0.8rem 0.4rem;
    transition: all 250ms ease;
}

.fa-moon:hover {
    color: var(--ligth-purple);
    cursor: pointer;
}

.fa-sun {
    font-size: 24px;
    color: white;;
    padding: 0.8rem 0.4rem;
    transition: all 250ms ease;
}

.fa-sun:hover {
    color: var(--ligth-purple);
    cursor: pointer;
}

/* ----------------------- IMG SLIDER -------------------------------*/
.img-container {
    position: relative;
    z-index: 9;
    height: 33rem;
    box-shadow: var(--shadow);
    background-color: var(--ligth-purple);
    overflow: hidden;
}

.img-slider {
    height: 100%;
    width: 100%;
}

.btnNext, .btnBack {
    position: absolute;
    height: inherit;
    width: 5.5rem;
    opacity: 0.4;
    transition: all 250ms ease;
    background-color: var(--ligth-purple);
    text-align: center;
    padding-top: 16%;
}

.img-container .btnNext {
    right: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.img-container .btnBack {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.btnNext:hover, .btnBack:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* ----------------------- ABOUT US -------------------------------*/
.about-us {
    position: relative;
    z-index: 8;
    padding: 4rem 6rem;
}
.about-us-container {
    background-color: var(--dard-bg);
    color: var(--gray);
    box-shadow: var(--shadow);
    padding: 5rem;
    margin-inline: 10rem;
    border-radius: 10px;
}

.about-us-container-sun {
    background-color: var(--sun-purple-gray);
    color: var(--dard-bg);
}

.about-us-container h1 {
    color: white;
}

.about-us p {
    text-align: justify;

}

/* ----------------------- RECOMMENDATION -------------------------------*/
.top-movies {
    position: relative;
    z-index: 7;
    overflow: hidden;
    padding: 8rem 0 5rem 0;
    /* box-shadow: 0.1rem 0.1rem 0.5rem 0.5rem var(--shadow-purple); */
    background-color: var(--dard-bg);
}

.top-movies-sun {
    background-color: var(--sun-purple-gray);
}

.top-movies h2 {
    margin-left: 5.5rem;
    color: white;
    font-size: 2rem;
}


.movie-container {   /*--------------Container-----------------*/
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center; 
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0 5rem;*/

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    gap: 2rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding-inline: 1rem;
}


.movie-info {     /*--------------Invdividual Block-----------------*/
    /* flex: 0 0 auto;
    width: 20rem;
    
    background-color: lightgray;
    margin-right: 5rem; */
    background-color: var(--gray-purple);
    height: 26rem;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.movie-info h4 {
    text-align: center;
    padding: 0.6rem 0;
    color: var(--dard-bg);
}

.img-thumbnail img{
    height: 18rem;
    object-fit: contain;
}

.add-watchlist a {
    position: relative;
    top: 30px;
    left: 30%;
    width: 40%;
    padding: 0.6rem 1rem;
    background-color: var(--purple);
    color: var(--gray);
    transition: all 250ms ease;
    border-radius: 5px;
}

.add-watchlist-sun a {
    background-color: var(--gray);
    color: var(--dard-bg);
}

.add-watchlist a:hover {
    background-color: var(--ligth-purple);
}

.add-watchlist-sun a:hover {
    background-color: var(--ligth-purple);
}

/* ----------------------- REVIEWS -------------------------------*/
.reviews {
    padding: 8rem 5rem;
    position: relatvie;
    z-index: 6;
    box-shadow: var(--shadow);
}

.reviews h2 {
    margin-left: 5.5rem;
    color: white;
}

.review-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin-inline: 4rem;
}

.review-block {
    background-color: var(--gray-purple);
    padding: 4rem 2rem;
    box-shadow: var(--shadow);
    color: var(--dard-bg);
    border-radius: 10px;
}

.review-block-sun {
    background-color: var(--dard-bg);
    color: white;
}

.reviewer {
    padding-top: 1rem;
    font-weight: bold;
    float: right;
    color: var(--shadow);
}

/* ----------------------- FOOTER -------------------------------*/
footer {
    position: relative;
    z-index: 5;
    box-shadow: var(--shadow);
    display: grid;
    justify-content: center;
    background-color: var(--purple);
}

.footer-logo {
    margin: 1rem auto;
}

.footer-media {
    display: flexbox;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.footer-media i {
    padding-inline: 1rem;
}

.footer-links {
    text-align: center;
    margin: 2rem auto;
    
}

.footer-links h4 a {
    color: var(--gray);
}

.footer-links h4 a:hover {
    color: var(--ligth-purple);
}

.footer-copyright {
    text-align: center;
    font-size: small;
    color: var(--gray);
}


.fa-brands {
    font-size: 24px;
    color: white;;
    padding: 0.8rem 0.4rem;
    transition: all 250ms ease;
}

.fa-brands:hover {
    color: var(--ligth-purple);
}

