@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

h1 {
  font-size: 50px;
  padding-left: 20px;
}

p {
  text-align: center;
  font-size: 20px;
}

.imgme {
  width: 60%;
  padding-left: 40%;
  height: 2.5%;
}

* {

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    appearance: 0;
}

body {
    background-color: #181726;
	color: #D9D9D9;
    font-family:"Poppins", sans-serif;
    overflow-x: hidden;
    line-height: 1.5rem;
	padding: 20px;
}

.body-light {
    background-color: #edeaff;
}

.imgnot {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    background-color: #2b2945c2;
    width: 100%;
    height: 5.5rem;
    position: relative;
    top: 0;
    z-index: 10;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.5rem #11111b;
    color: #C5C6C7;
}


nav ul {
    position: absolute;
    top: 2.25rem;
    right: 6rem;
    display: flex;
    align-items: center;
    color: #C5C6C7;
}

nav ul li a {
    padding: 3rem;
    color: #C5C6C7;
}

nav ul li a:hover {
    color: #8f72ff;
}

.nav-logo {
    position: absolute;
    top: 2.25rem;
    left: 6.5rem;
}

#sub-ul {
    top: 3.25rem;
    right: auto;
    flex-direction: column;
    background-color: #26243C;
    visibility: hidden;
    transition: all 250ms ease;
    opacity: 0;
}

#sub-ul li a {
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

nav ul li:hover a + #sub-ul {
    visibility: visible;
    opacity: 1;
}

.theme-btn {
    display: block;
    position: relative;
    top: 1.2rem;
    right: 2.55rem;
    float: right;
}

.theme-btn button {
    background-color: transparent;
    padding-inline: 10px;
}

.fa-moon {
    font-size: 24px;
    color: white;;
    padding: 0.8rem 0.4rem;
    transition: all 250ms ease;
}

.fa-moon:hover {
    color: #8f72ff;
    cursor: pointer;
}

.fa-sun {
    font-size: 24px;
    color: white;;
    padding: 0.8rem 0.4rem;
    transition: all 250ms ease;
}

.fa-sun:hover {
    color: #8f72ff;
    cursor: pointer;
}




footer {
    position: relative;
    display: grid;
    width: 100%;
    left: 0;
    top: 50px;
    justify-content: center;
    background-color: #2b2945c2;
}


.footer-logo {
    margin: 1rem auto;
}

.footer-media {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.footer-media i {
    padding-inline: 1rem;
}

.footer-links {
    text-align: center;
    margin: 2rem auto;
}

.footer-links ul li {
    padding: 0.2rem 0;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright {
    font-size: small;
}

.fa-brands {
    font-size: 24px;
    transition: all 250ms ease;
    cursor: pointer;
}

.fa-brands:hover {
    color: #8f72ff;
}