* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    appearance: 0;
}

body {
    background-color: gray;
    font-family: sans-serif;
    overflow-x: hidden;
    line-height: 1.5rem;
    margin: 0;
}

.block {
    margin: 0 auto;
    width: auto;
}

.container{
    max-width: 1140px;
    height: 700px;
    margin: 20px auto;
    padding: 20px;
}
/* Navigation */
nav {
    background-color: lightgray;
    width: 100%;
    height: 5.5rem;
    position: relative;
    top: 0;
    z-index: 10;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.5rem rgba(55, 55, 55, 0.3);
}


nav ul {
    position: absolute;
    top: 2.25rem;
    right: 4rem;
    display: flex;
    align-items: center;
}

nav ul li a {
    padding: 3rem;
    color: black;
}

nav ul li a:hover {
    color: gray;
}

.nav-logo {
    position: absolute;
    top: 2.25rem;
    left: 6.5rem;
}

#sub-ul {
    top: 3.25rem;
    right: auto;
    flex-direction: column;
    background-color: lightgray;
    visibility: hidden;
    transition: all 250ms ease;
    opacity: 0;
}

#sub-ul li a {
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

nav ul li:hover a + #sub-ul {
    visibility: visible;
    opacity: 1;
}


/*poster*/
.poster {
    text-align: center;
    float: left;
    margin-left: 20px;
    margin-right: 50px;
}
.poster ul li{
    float: left;
    margin-right: 13.5px;
    margin-left: 13.5px;
    margin-top: 13.5px;
}
figure{
    overflow: hidden;
}
.poster figure {
	position: relative;
}
.poster figure::before {
	position: absolute;
	top: 0;
	left: -90%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 98%;
    border-radius: 25%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.poster figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.art {
    border-radius: 2%;
    width: 230px;
    height: 345px;
}


/*movie&tvshow title and its description*/
.title {
    color: black;
    font-size: 24px;
    margin: 0 0 12px;
    
}
.des {
    border-radius: 25px;
    border: 2px solid black;
    padding: 33px;
    margin-top: 10px;
    margin-left: -20px;
    margin-right: 20px;
    width: 500px;
    height: 300px;
    display: block;
    float: left;
   
}
/*movie&tvshow info----might need adjustment for movies*/
.des2 {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    margin-top: -61px;
    margin-left: 10px;
    margin-right: 20px;
    width: 20%;
    height: 371px;
    display: block;
    float: left;
   
}
.des2 ul li p{
    box-sizing: border-box;
    margin-bottom: 1px;
    margin-right: 1px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #283038;
    border-radius: 3px;
    box-shadow: inset 0 1px transparent;
    color: #9ab;
    display: inline-block;
    padding: 3px 6px;
    white-space: nowrap;
}
/*ratings*/
.ratings{
    margin: 20px;
    display: grid;
    float: left;
}
.rate-site{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}
.block-rate{
    text-align: left;
}
.rating{

    color: #9ab;
    font-size: 0.855rem;
    letter-spacing: .075em;
    padding: 4px 5px 3px;
    text-transform: uppercase;
}
.reating:hover{
    text-decoration: underline;
}
.rating:visited{color: rgb(75, 11, 64);}
/*trailer*/
.trailer{
    width: 100px;
    height: 100px;
    float: left;
    margin: 20px;
}
/*footer*/
footer {
    position: relative;
    display: grid;
    width: 100%;
    left: 0;
    top: 50px;
    justify-content: center;
    background-color: lightgray;
}


.footer-logo {
    margin: 1rem auto;
}

.footer-media {
    display: flexbox;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.footer-media i {
    padding-inline: 1rem;
}

.footer-links {
    text-align: center;
    margin: 2rem auto;
}

.footer-links ul li {
    padding: 0.2rem 0;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright {
    font-size: small;
}

.fa-brands {
    font-size: 24px;
}

