* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    appearance: 0;
}

body {
    background-color: gray;
    font-family: sans-serif;
    overflow-x: hidden;
    line-height: 1.5rem;
    margin: 0;
}

.block {
    margin: 0 auto;
    width: auto;
}

.container{
    max-width: 1140px;
    height: 700px;
    margin: 20px auto;
    padding: 20px;
}
/* Navigation */
nav {
    background-color: lightgray;
    width: 100%;
    height: 5.5rem;
    position: relative;
    top: 0;
    z-index: 10;
    margin-bottom: 10%;
}

nav ul {
    position: absolute;
    top: 2.25rem;
    right: 4rem;
    display: flex;
    align-items: center;
}

nav ul li a {
    padding: 2.5rem;
}

nav ul li a:hover {
    color: black;
}

.nav-logo {
    position: absolute;
    top: 2.25rem;
    left: 5.5rem;
}

#sub-ul {
    top: 3.25rem;
    right: auto;
    flex-direction: column;
    background-color: rgb(143, 143, 143);
    visibility: hidden;
    transition: all 250ms ease;
    opacity: 0;
}

#sub-ul li a {
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

nav ul li:hover a + #sub-ul {
    visibility: visible;
    opacity: 1;
}

/*poster*/
.poster {
    text-align: center;
    float: left;
    margin-left: 20px;
    margin-right: 50px;
}
img {
    border-radius: 2%;
    width: 230px;
    height: 345px;
}

/*movie title and its description*/
.title {
    color: black;
    font-size: 24px;
    margin: 0 0 12px;
    
}
.des {
    border-radius: 25px;
    border: 2px solid black;
    padding: 33px;
    margin-top: 10px;
    margin-left: -20px;
    margin-right: 20px;
    width: 500px;
    height: 300px;
    display: block;
    float: left;
   
}
.des2 {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    margin-top: -61px;
    margin-left: 10px;
    margin-right: 20px;
    width: 20%;
    height: 371px;
    display: block;
    float: left;
   
}
.des2 ul li p{
    box-sizing: border-box;
    margin-bottom: 1px;
    margin-right: 1px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #283038;
    border-radius: 3px;
    box-shadow: inset 0 1px transparent;
    color: #9ab;
    display: inline-block;
    padding: 3px 6px;
    white-space: nowrap;
}



