@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Montserrat&family=Poppins:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    color: white;
}


/* ----------------------- NAV -------------------------------*/


nav {
    background-color: lightgray;
    width: 100%;
    height: 5.5rem;
    position: relative;
    top: 0;
    z-index: 10;
}


nav ul {
    position: absolute;
    top: 2.25rem;
    right: 4rem;
    display: flex;
    align-items: center;
}

nav ul li a {
    padding: 3rem;
}

nav ul li a:hover {
    color: black;
}

.nav-logo {
    position: absolute;
    top: 2.25rem;
    left: 6.5rem;
}

#sub-ul {
    top: 3.25rem;
    right: auto;
    flex-direction: column;
    background-color: rgb(143, 143, 143);
    visibility: hidden;
    transition: all 250ms ease;
    opacity: 0;
}

#sub-ul li a {
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

nav ul li:hover a + #sub-ul {
    visibility: visible;
    opacity: 1;
}

/* ----------------------- NAVEND -------------------------------*/

body{

    background: #1f2833;
}

.heading{
    align-content: center;

}

.movies-container{
    max-width: 968px;
    margin-right: auto;
    margin-left:auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    gap:0.9rem;
    margin-top: 2rem;
}
.box .box-img{
    width:100%;
    height: 270px;
}
.box .box-img img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.box .box-img img:hover{
    transform:translateY(-12px);
    transition: 0.2s all linear;
}
.box h3{
    font-size: 0.9rem;
    font-weight: 500;
}
.box span{
   font-size: 13px; 
}
