/*project stage number 3
Alaa laghoub
U20104610*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    appearance: none;
    color:#e2e2e2;
}
.dark-theme{
    --primary-color:#edeaff;
    --secondary-color:#181726;
    
}
:root{
    --primary-color:#181726;
    --secondary-color:#edeaff;
    --ligth-purple: #8f72ff;
}
#icon{
    width:30px;
    cursor: pointer;
    height: 30px;
}
#icon:hover{
    color: var(--ligth-purple);
    
}
body {
    background-color:var(--primary-color);
    font-family:"Poppins", sans-serif;
    overflow-x: hidden;
    line-height: 1.5rem;
    margin: 0;
}
.block {
    margin: 0 auto;
    width: auto;
}

.container{
    max-width: 1140px;
    height: 700px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 90px;
}
/* Navigation */


nav {
    background-color:#2b2945c2;
    width: 100%;
    height: 5.5rem;
    position: relative;
    top: 0;
    z-index: 10;
    box-shadow: 3px 4px 15px 1px #11111b;
    color:#C5C6C7;
    
}


nav ul {
    position: absolute;
    top: 2.25rem;
    right: 4rem;
    display: flex;
    align-items: center;
    color:#C5C6C7;
}

nav ul li a {
    padding: 3rem;
    color:#C5C6C7;
    
}

nav ul li a:hover {
    color: gray;
}

.nav-logo {
    position: absolute;
    top: 2.25rem;
    left: 6.5rem;
}

#sub-ul {
    top: 3.25rem;
    right: auto;
    flex-direction: column;
    background-color: #0B0C10;
    visibility: hidden;
    transition: all 250ms ease;
    opacity: 0;
    background-color:#2b2945c2;
}

#sub-ul li a {
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

nav ul li:hover a + #sub-ul {
    visibility: visible;
    opacity: 1;
}


/*poster*/
.poster {
    text-align: center;
    float: left;
    margin-left: 20px;
    margin-right: 50px;
    color:#C5C6C7;
}
.poster ul li h1{
    margin-right: 600px;
    margin-bottom: 10px;
    color: #a08bba;
}
.poster ul li{
    float: left;
    margin-right: 13.5px;
    margin-left: 13.5px;
    margin-top: 13.5px;

}

figure{
    overflow: hidden;
}
.poster figure {
  position: relative;
}
.poster figure::before {
  position: absolute;
  top: 0;
  left: -90%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 98%;
    border-radius: 25%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.poster figure:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
img {
    border-radius: 2%;
    width: 230px;
    height: 345px;
}
/*movie title and its description*/
.title {
    color: black;
    font-size: 24px;
    margin: 0 0 12px;
    
}
.year {
    margin-left:5px;
    padding-bottom: 5px;
    color: #ac97c5;
}
.title h1{
    margin-top:-40px;
    padding-top:20px;
    font-size:2rem;
    font-weight: bold;
    color: #ac97c5;
}
.summary {
   
    box-shadow: 3px 4px 15px 1px #11111b;
    border-radius: 25px;
    border: 2px solid none;
    padding: 10px 20px 20px 20px;
    margin-right:30px;
    width: 450px;
    height: 330px;
    display: block;
    float: left;
    color:#9382a8;
    margin-top:-20px;
   
}
.summary p{
    margin:20px;
    color: #a08bba;
}
.trailer{
    padding:0;
    margin:0;
    margin-top:-20px;
    
}
iframe{
    border-radius: 5px;
}
.description {
    border-radius: 25px;
    box-shadow: 3px 4px 10px 4px #11111b;
    padding: 20px;
    padding-top: 20px;
    margin-top: 40px;
    margin-right: 20px;
    width: 100%;
    height: 360px;
    display: block;
    float: left;
    font-size:16px;
   
}
.description ul li span{
    color: #a08bba;
    font-size: 18px;
}
.description ul li p{
    
    box-sizing: border-box;
    margin-bottom: 1px;
    margin-right: 1px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #e1d3f3de;
    border-radius: 3px;
    box-shadow: inset 0 1px transparent;
    color: #3a2a5b;
    display: inline-block;
    padding: 3px 6px;
    white-space: nowrap;
    
}

.ratings{
    margin: 20px;
    position:relative;
    padding: 20px;
    margin-top: -358px;
    margin-right: 20px;
    width: 100%;
    height: 360px;
    padding-left:550px;
    display: block;
    float: left;
    font-size:16px;
}
.ratings ul li h2{
    color: #a08bba;
    font-size:18px;
}
.ratings ul li p{
    box-sizing: border-box;
    margin-bottom: 1px;
    margin-right: 1px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #e1d3f3de;
    border-radius: 3px;
    box-shadow: inset 0 1px transparent;
    color: #3a2a5b;
    display: inline-block;
    padding: 0px 6px;
    white-space: nowrap;
    font-size: 16px;
}
.ratings span{
    color: #a08bba;
}
.cast{
    color:#8ea2b6;
    margin: 20px;
    position:relative;
    padding: 20px;
    margin-top: -240px;
    margin-right: 20px;
    width: 100%;
    height: 360px;
    padding-left:550px;
    display: block;
    float: left;
    margin-bottom: -200px;
    font-size:16px;
}
.cast ul li span{
    color: #a08bba;
    font-size:18px;
    font-weight: 600;
}
.cast ul li p{
    font-weight: lighter;
    box-sizing: border-box;
    margin-bottom: 1px;
    margin-right: 1px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #e1d3f3de;
    border-radius: 3px;
    box-shadow: inset 0 1px transparent;
    color: #3a2a5b;
    display: inline-block;
    padding: 0 6px;
    white-space: nowrap;
    font-size: 16px;;
}
/* ----------------------- FOOTER -------------------------------*/
footer {
    box-shadow: 3px 4px 15px 2px #11111b;
    position: relative;
    display: grid;
    width: 100%;
    left: 0;
    top: 50px;
    justify-content: center;
    background-color:#2b2945c2;

}
.footer-logo {
    margin: 1rem auto;
}
.footer-media {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.footer-media i {
    padding-inline: 1rem;
}

.footer-links {
    text-align: center;
    margin: 2rem auto;
}

.footer-links ul li {
    padding: 0.2rem 0;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright {
    font-size: small;
}

.fa-brands {
    font-size: 24px;
}
.fa-brands:hover {
    color: var(--ligth-purple);
    cursor: pointer;
}